@import 'scss/_colors.scss';

:root {
    --page-bg-color: #{$light-color};
    --typography-base-color: #{$dark-color};
    --link-color: #{$secondary-color};
}

.app-wrapper {
    background-color: var(--page-bg-color);
    color: var(--typography-base-color);

    a {
        color: var(--link-color);
        font-size: 0.875rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Fira Sans', sans-serif;
        font-weight: 600;
    }

    p,
    a,
    span {
        font-family: 'Roboto', sans-serif;
    }
}
