@import 'scss/_colors.scss';

:root {
    --page-bg-color: #{$light-color};
    --typography-base-color: #{$dark-color};
    --link-color: #{$secondary-color};
}

.app-wrapper {
    background-color: var(--page-bg-color);
    color: var(--typography-base-color);

    a {
        color: var(--link-color);
    }
}
