@import 'scss/_colors.scss';

:root {
    --page-bg-color: #{$light-color};
    --footer-bg-color: #{darken($light-color, 5%)};
    --typography-base-color: #{$dark-color};
    --typography-footer-color: #{$accent-color};
    --link-color: #{$secondary-color};
    --link-color-hover: #{$primary-color};
    --border-color: #{lighten($accent-color, 35%)};
    --text-muted-color: #{$accent-color};
}

::selection {
    background: $primary-color;
    color: white;
}

.app-wrapper {
    background-color: var(--page-bg-color);
    color: var(--typography-base-color);
    min-height: 100vh;

    .content-wrapper {
        padding: 1.75rem 0;
        min-height: calc(100vh - (62px + 80px));

        .card {
            transition: box-shadow ease-in-out 300ms;
            border: 1px solid var(--border-color);

            &:hover {
                box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
            }
        }

        .text-muted {
            color: var(--text-muted-color);
        }
    }

    a {
        color: var(--link-color);
        font-size: 0.875rem;

        .fas {
            vertical-align: middle;
            margin-left: 5px;
            transition: transform ease-in-out 300ms;
        }

        &:hover {
            color: var(--link-color-hover);
            text-decoration: none;

            .fas {
                transform: translateX(5px);
            }
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Fira Sans', sans-serif;
        font-weight: 600;
    }

    p,
    a,
    span {
        font-family: 'Roboto', sans-serif;
    }
}
